@model IEnumerable<FootballStatisticsManagementApp.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Matches" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchParam" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @if (ViewBag.sortBy == "loc_asc")
                {
                    <a href="/Matches?sortParam=loc_desc">@Html.DisplayNameFor(model => model.Location)</a>
                }
                else
                {
                    <a href="/Matches?sortParam=loc_asc">@Html.DisplayNameFor(model => model.Location)</a>
                }
            </th>
            <th>
                @if (ViewBag.sortBy == "date_asc")
                {
                    <a href="/Matches?sortParam=date_desc">@Html.DisplayNameFor(model => model.Date)</a>
                }
                else
                {
                    <a href="/Matches?sortParam=date_asc">@Html.DisplayNameFor(model => model.Date)</a>
                }
            </th>
            <th>
                @if (ViewBag.sortBy == "away_asc")
                {
                    <a href="/Matches?sortParam=away_desc">@Html.DisplayNameFor(model => model.AwayTeam)</a>
                }
                else
                {
                    <a href="/Matches?sortParam=away_asc">@Html.DisplayNameFor(model => model.AwayTeam)</a>
                }
            </th>
            <th>
                @if (ViewBag.sortBy == "home_asc")
                {
                    <a href="/Matches?sortParam=home_desc">@Html.DisplayNameFor(model => model.HomeTeam)</a>
                }
                else
                {
                    <a href="/Matches?sortParam=home_asc">@Html.DisplayNameFor(model => model.HomeTeam)</a>
                }
            </th>
            <th>
                @if (ViewBag.sortBy == "leag_asc")
                {
                    <a href="/Matches?sortParam=leag_desc">@Html.DisplayNameFor(model => model.League)</a>
                }
                else
                {
                    <a href="/Matches?sortParam=leag_asc">@Html.DisplayNameFor(model => model.League)</a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
